*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

.container{
    background-color: red;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1f;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas: 
    "encabezado"
    "navegacion"
    "productos"
    "servicios"
    "enlaces"
    "pie_de_pagina"
    ;
}

header{
    grid-area: encabezado;
    background-color: blue;
}

nav{
    grid-area: navegacion;
    background-color: aqua;
}

.seccion-prod{
    grid-area: productos;
    background-color: pink;
}

.seccion-ser{
    grid-area: servicios;
    background-color: white;
}

aside{
    grid-area: enlaces;
    background-color: gold;
}

footer{
    grid-area: pie_de_pagina;
    background-color: blueviolet;
}

/* 
    320px — 480px: Dispositivos móviles
    481px — 768px: iPads, tablets
    769px — 1024px: pantallas pequeñas, ordenadores portátiles
    1025px — 1200px: pantallas grandes, ordenadores de escritorio
    1201px y más —  pantallas extra-grandes, televisores
*/


/* cuando el width es mayor a 480px */
@media (min-width: 480px){
    .container{
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 2fr 2fr 1fr;
        
        grid-template-areas: 
        "encabezado  encabezado navegacion"
        "productos  productos productos"
        "servicios  servicios servicios"
        "pie_de_pagina  enlaces enlaces"
        ;
    }
}


/* cuando el width es mayor a 1024px */
@media (min-width: 1024px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        grid-template-areas: 
        "navegacion encabezado encabezado encabezado encabezado"
        "navegacion productos productos productos enlaces"
        "navegacion servicios servicios servicios enlaces"
        "navegacion pie_de_pagina pie_de_pagina pie_de_pagina pie_de_pagina"
        ;
    }
}