*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    padding: 2%;
    position: absolute;
    bottom: -1;
}