
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-first{
    width: 100vw;

    display: grid;

    grid-template-rows: 1fr 5fr 4fr 3fr 3fr 3fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "A"
    "numeros"
    "B"
    "C"
    "D"
    "footer"
    ;
}

nav{
    grid-area: nav; 

    background-color: #FAF6F5;
    
    display: flex;
    align-items: center;

    ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        display: flex;
       
        p{
            font-weight: bold;
        }

        li{
            list-style-type: none;
            a{
                background-color: #D6E0EA;
                text-decoration: none;
                border-radius: 10%;
            }
        }
        
    }
}

#btn__burger{
    display: none;
}


main{
    grid-area: A;
    height: 85vh;

    background-color: #DEE8F1;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.main__titulo{
    padding: 2% 12%;
}

.main__texto{
    padding: 0% 12%;
}
.numeros{
    grid-area: numeros;

    width: 100%;
    display: flex;
}

.caja{
    width: 25%;
    height: 100%;
    background-color: #B8C6E0;
}

.B{
    grid-area: B;
    background-color: #EFEEEC;
}
.C{
    grid-area: C;
    background-color: #EAE5E2;
}
.D{
    grid-area: D;
    background-color: #EFEEEC;
}

footer{
    grid-area: footer;
    background-color: #89ADCF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* para tablet */
@media (max-width: 768px) {
    
    nav{
        ul{
            li{
                a{
                    display: none;
                }
            }
        }
    }

    #btn__burger{
        display: inline;
        
    }

    main{
        height: 65vh;
    }
    .numeros{
        flex-wrap: wrap;
    }

    .caja{
        width: 50%;
        height: 50%;
        border: 1px solid black;
        flex-wrap: wrap;
    }
}

/* para celular */
@media (max-width: 480px) {
    main{
        height: 90vh;
    }
    .numeros{
        flex-wrap: wrap;
    }

    .caja{
        width: 100%;
        height:25%;
        flex-wrap: wrap;
        flex-direction: column;
    }
}



