
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* En este caso se hizo 
    Escritorio -> Tablet -> Movil
    pero lo recomendable es 
    Movil -> Tablet -> Escritorio
*/

.container-first{
    width: 100vw;

    display: grid;

    grid-template-rows: 1fr 5fr 4fr 3fr 3fr 3fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "A"
    "numeros"
    "B"
    "C"
    "D"
    "footer"
    ;
}

nav{
    grid-area: nav; 

    background-color: #FAF6F5;
    
    display: flex;
    align-items: center;

    ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        display: flex;
       
        p{
            font-weight: bold;
        }

        li{
            list-style-type: none;
            a{
                background-color: #D6E0EA;
                text-decoration: none;
                border-radius: 10%;
            }
        }
        
    }
}

#btn__burger{
    /* inicialmente está oculto */
    /* debe aparecer cuando esté en tablet y movil */
    display: none;
}


main{
    grid-area: A;
    height: 85vh;

    background-color: #DEE8F1;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.main__titulo{
    padding: 2% 12%;
}

.main__texto{
    padding: 0% 12%;
}
.numeros{
    grid-area: numeros;

    width: 100%;
    display: flex;
}

.caja{
    width: 25%;
    height: 100%;
    background-color: #B8C6E0;
}

.B{
    grid-area: B;
    background-color: #EFEEEC;
}

.service-grid{
    height: 100%;
    width: 100%;
    display: grid;

    padding: 3% 5%;
    
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 0.2fr 2.2fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "contenido vacio imagen"
    ;
}

.service-tittle{
    grid-area: titulo;
}

.service-content{
    grid-area: contenido;
    padding-bottom: 5%;
}

.btn-show-more{
    width: 30%;
    height: 15%;
    margin: 5% 0;
    background-color: #726157;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
}

.img-space{
    grid-area: imagen;
    width: 100%;
    height: 100%;
    background-color: #7B9BC2;
}

.C{
    grid-area: C;
    background-color: #EAE5E2;
}
.D{
    grid-area: D;
    background-color: #EFEEEC;
}

footer{
    grid-area: footer;
    background-color: #89ADCF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* para tablet */
@media (max-width: 768px) {
    
    nav{
        ul{
            li{
                a{
                    display: none;
                }
            }
        }
    }

    #btn__burger{
        display: inline;
    }

    main{
        height: 65vh;
    }
    .numeros{
        flex-wrap: wrap;
    }

    .caja{
        width: 50%;
        height: 50%;
        border: 1px solid black;
        flex-wrap: wrap;
    }

    .service-grid{
        height: 100%;
        width: 100%;
        display: grid;

        padding: 2%;
        
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "vacio vacio"
        "vacio imagen"
        ;
    }

    .service-tittle{
        grid-area: titulo;
        display: none;
    }

    .service-content{
        grid-area: contenido;
        display: none;
    }

    .img-space{
        grid-area: imagen;
        width: 200px;
        height: 100%;
        background-color: #7B9BC2;
    }

}

/* para celular */
@media (max-width: 480px) {
    main{
        height: 90vh;
    }
    .numeros{
        flex-wrap: wrap;
    }

    .caja{
        width: 100%;
        height:25%;
        flex-wrap: wrap;
        flex-direction: column;
    }
}



